*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	background-color: #2A0A0A;
	.nav-wrapper{
		margin-left: 30%;
	}
}
.carousel-item{
	img{
		width: 50%;
	}
}


.services{	
	background-color: #F3E2A9;
	border-top: 2px solid black;
	margin-bottom: 0;
	padding-bottom: 30px;
	a{
		margin: 40px;
		color: black;
		background-color: #F7BE81;
	}
	img{
		position: relative;
		bottom: 60px;
		border: 10px solid #F7BE81;
	}
	.text{
		text-align: justify;
		padding: 10px;
	}

}
.two{
	background-color: #F2F2F2;

	.description{
		padding: 50px 10px;
		margin-bottom: 0;
		h4{
			color: #B40404;
			margin: $margin;
		}
		img{
			border-radius: 10px;
		}
		ul{

			li{
				margin: $margin;
				img{
					width: 20px;
				}
			}
		}
	}
}
.three{
	background-color:#2E2E2E;
	padding: 20px;
	color: #F3E2A9;
	border: 2px solid #F3E2A9;
	border-left: none;
	border-right: none;
	margin-bottom: 0;

	.about{
		text-align: right;
		padding: 30px;
		img{
			float: left;
			border-radius: $border;
		}
		li{
			margin: 20px 0;
			margin-left: 50%;
		}
	}
	.program{
		text-align: left;
		padding: 30px;
		img{
			float: right;
			border-radius: $border;
		}
		li{
			margin: 20px 0;
			margin-right: 50%;
		}
	}
}